.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003a47;
  color: white;
  height: 100vh;
  width: 100vw;
}

.header {
  background: #05b1d6;
  color: white;
  width: 100vw;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin-bottom: 2vh;
  font-size: 3vh;
  font-weight: 600;
}

.shoutout {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #05b1d6;
  color: white;
  padding: 2vh 4vw;
  margin: 2vh;
}

.to,
.from {
  font-size: 2vh;
  font-weight: 700;
}

.message {
  font-size: 2.5vh;
  font-weight: 400;
  padding: 1vh 3vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.single-line-text,
.multi-line-text {
  border: 3px solid;
  border-radius: 15px;
  border-color: #05b1d6;
  background-color: #f7f7f7;
  padding: 1.5vh 1.5vw;
  margin: 1vh 1vw;
  color: #333333;
  font-family: inherit;
  font-size: 2vh;
  font-weight: 500;
  width: 70vw;
}

.multi-line-text {
  height: 100px;
  resize: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5vh 1.5vw 1.5vh;
  font-size: 1.5vh;
  font-weight: 700;
}

.prompt {
  color: #fff;
  font-size: 2vh;
  font-weight: 500;
  margin: 0.5vh 0;
}

.button {
  padding: 2vh 4vw;
  color: #fff;
  background-color: #05b1d6;
  border-color: transparent;
  font-weight: 500;
  border-radius: 15px;
  font-size: 3vh;
  margin: 3vh 3vw;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
}
